<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tianjian.emmanage.mapper.YongHuMapper">

    <select id="getUser" resultType="ren.doob.model.User">
          SELECT * FROM user
          <where>
                  <if test="name != null and name != ''">
                          NAME = #{name}
                  </if>
                  <if test="pass != null and pass != ''">
                          AND pass = #{pass}
                  </if>
          </where>
          order by ID
    </select>

</mapper>