<%@ page contentType="text/html;charset=UTF-8" language="java" %>
<html>
<head>
    <meta charset="UTF-8">
    <title>云数据库</title>
    <link rel="Shortcut Icon" href="/doob/views/images/ooo.ico">
    <link href="//cdn.bootcss.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/doob/views/css/database.css">
</head>
<body ng-app="database">
<div  ng-controller="datacon">
    <div>
        <div class="mynav">
            <div style="float: left ;width:89% ; height: 13% ">
                <font size="8" color="aqua">建立一个数据库实例</font><br/>
                <font size="4" color="aqua">选择一个数据镜像，点击并创建一个属于自己的云数据库实例(点击右侧图标切换到已有实例)</font>
            </div>
            <div style="height: 15%; width: 10% ; float: right;position: relative;
                -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px;" ng-click="selectPage()">
                <image ng-src="/doob/views/images/database/change.png" alt="切换按钮" title="点击切换当前页面" class="myimagerotate" ></image>
            </div>
        </div>
    </div>
    <div ng-show="createOrHistory">
        <div class="imagediv" ng-click="clickimage(event)">
            <figure contenteditable="true">
                <img src="/doob/views/images/database/mysql.png" alt="jump, mysql" contenteditable="false" />
                <figcaption contenteditable="false">
                    <button type="button" class="btn btn-default" ng-click="createDatabase(0)">mysql!</button>
                </figcaption>
            </figure>
        </div>
        <div class="imagediv">
            <figure contenteditable="true">
                <img src="/doob/views/images/database/postgresql.png" alt="jump, postgresql" contenteditable="false" />
                <figcaption contenteditable="false">
                    <button type="button" class="btn btn-default" ng-click="createDatabase(1)">postgresql!</button>
                </figcaption>
            </figure>
        </div>
        <div class="imagediv">
            <figure contenteditable="true">
                <img src="/doob/views/images/database/mongodb.png" alt="jump, mongodb" contenteditable="false" />
                <figcaption contenteditable="false">
                    <button type="button" class="btn btn-default" ng-click="createDatabase(2)">mongodb!</button>
                </figcaption>
            </figure>
        </div>

        <div class="imagediv">
            <figure contenteditable="true">
                <img src="/doob/views/images/database/redis.png" alt="jump, redis" contenteditable="false" />
                <figcaption contenteditable="false">
                    <button type="button" class="btn btn-default" ng-click="createDatabase(3)">redis!</button>
                </figcaption>
            </figure>
        </div>

        <div class="imagediv">
            <figure contenteditable="true">
                <img src="/doob/views/images/database/golang.png" alt="jump, golang" contenteditable="false" />
                <figcaption contenteditable="false">
                    <button type="button" class="btn btn-default" ng-click="createDatabase(4)">golang!</button>
                </figcaption>
            </figure>
        </div>
    </div>
    <div ng-show="!createOrHistory">
        <div>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>数据库实例名</th>
                    <th>运行终端</th>
                    <th>创建</th>
                    <th>状态</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="container in containers">
                    <td><a href="#/doob/docker/containers/{{ container.Id }}/json" ng-click = "getIC($event , 'c')">{{ container.Name | containerNameFilter}}</a></td>
                    <td>{{ container.Path}}</td>
                    <td>{{ container.Created }}</td>
                    <td>{{ container.State.Status }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" align="cemter">
                    <button type="button" class="close"
                            data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h2 class="modal-title">
                        <strong id="modelTitle">创建数据库</strong>
                    </h2>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" role="form" id="createCon">
                        <div class="form-group">
                            <label for="ssh0" class="col-sm-2 control-label">名称：</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="ssh0" name="imageName" placeholder="所创建数据库实例的名称" ng-model="fromData.databaseName">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="ssh1" class="col-sm-2 control-label">密码：</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="ssh1" name="imageName" placeholder="创建root用户密码，不输入默认密码为root" ng-model="fromData.databasePasswd">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-success" ng-click="createDatabaseInModel()">创建</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
</div>
</body>
<script src="//cdn.bootcss.com/angular.js/1.4.8/angular.min.js"></script>
<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
<script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script src="/doob/views/js/database.js"></script>
<script src="/doob/views/chajian/common.js"></script>
</html>