<%@ page contentType="text/html;charset=UTF-8" language="java" %>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户</title>
    <link rel="Shortcut Icon" href="/doob/views/images/ooo.ico">
    <link href="//cdn.bootcss.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
<body ng-app="userApp">
<div ng-controller="user">
    <div style="height: 30px"></div>
    <div>
        <div style="float: right;color: white">00000000</div>
        <div style="float: right">
            <div class="btn-group open">
                <a class="btn btn-success dropdown-toggle" href="#" data-toggle="dropdown">
                    <i class="fa fa-fw fa-lg fa-user"></i>
                    {{userinfo.name}}
                </a>
            </div>
        </div>
    </div>
    <div>
        <div style="float: left;width:3%"></div>
        <div style="float: left;width:94%">
            <ul id="myTab" class="nav nav-tabs">
                <li class="active" style="width: 30%">
                    <a href="#userinfo" data-toggle="tab">
                        <h4><strong>个人信息</strong></h4>
                    </a>
                </li>
                <li style="width: 30%"><a href="#accountinfo" data-toggle="tab"><h4><strong>账户信息</strong></h4></a></li>
            </ul>
            <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade in active" id="userinfo">
                    <table class="table table-striped">
                        <tr style="height: 100px">
                            <td style="width: 25%"><Strong>用户名</Strong></td>
                            <td><input type="text" class="form-control" disabled="disabled" ng-model="updatePara.name"/></td>
                        </tr>
                        <tr style="height: 100px"><td style="width: 25%"><strong>手机号</strong></td><td>
                            <div class="input-group">
                                <input type="text" class="form-control" ng-model="updatePara.phone"/>
                                <span class="input-group-btn">
                                     <button type="button" class="btn btn-default" ng-click="update()">保存更改</button>
                                </span>
                            </div>
                        </td></tr>
                        <tr style="height: 100px"><td style="width: 25%"><strong>邮箱</strong></td><td>
                            <div class="input-group">
                                <input type="text" class="form-control" ng-model="updatePara.email"/>
                                <span class="input-group-btn">
                                     <button type="button" class="btn btn-default" ng-click="update()">保存更改</button>
                                </span>
                            </div>
                        </td></tr>
                        <tr style="height: 100px"><td style="width: 25%"><strong>更改密码</strong></td><td ng-click="showupdate_pass()">
                            <a href="#">
                                <i class="fa fa-fw fa-lg fa-lock"></i>
                                <i class="fa fa-fw fa-lg fa-key" ng-show="update_pass"></i>
                                更改密码</a>
                        </td></tr>
                        <tr ng-show="update_pass"><td style="width: 25%"></td><td>
                            <div style="border:1px solid lightcoral">
                                <div style="background: lightcoral ; color: red ;height: 50px">更改密码</div>
                                <div>
                                    <form class="form-horizontal" role="form">
                                        <div class="form-group">
                                            <label for="firstname" class="col-sm-2 control-label">新密码</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" id="firstname" placeholder="请输入新密码" ng-model="updatePara.pass">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="lastname" class="col-sm-2 control-label">确认新密码</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" id="lastname" placeholder="请输入相同的新密码" ng-model="updatePara.pass1">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-offset-2 col-sm-10">
                                                <button type="submit" class="btn btn-default" ng-click="update()">保存更改</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </td></tr>
                    </table>
                </div>
                <div class="tab-pane fade in active" id="accountinfo">

                </div>
        </div>
        <div style="float: left;width:3%"></div>
    </div>
</div>
</body>
<script src="//cdn.bootcss.com/angular.js/1.4.8/angular.min.js"></script>
<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
<script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script src="//cdn.bootcss.com/sockjs-client/1.0.3/sockjs.min.js"></script>
<script src="/doob/views/js/user.js"></script>
</html>