<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ren.doob.serivces.mapper.UserMapper">

    <select id="getLoginUser" parameterType="ren.doob.common.Parameter" resultType="ren.doob.serivces.model.User">
          SELECT * FROM user where  NAME = #{accept.name}
    </select>

    <insert id="signin"  parameterType="ren.doob.common.Parameter">
          INSERT INTO user (name,pass,xingm) VALUES (#{accept.name},#{accept.pass},#{accept.xingm})
    </insert>

    <update id="updateUserData" parameterType="ren.doob.common.Parameter">
        UPDATE user
        <set>
            <if test="accept.phone != null">
                phone = #{accept.phone},
            </if>
            <if test="accept.email != null">
                email = #{accept.email},
            </if>
            <if test="accept.conmax != null">
                conmax = #{accept.conmax},
            </if>
            <if test="accept.imagemax != null">
                imagemax = #{accept.imagemax},
            </if>
            <if test="accept.pass != null">
                pass = #{accept.pass}
            </if>
        </set>
        where id = #{accept.id}
    </update>

</mapper>