<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ren.doob.serivces.mapper.UserConMapper">

    <select id="getCon" resultType="ren.doob.serivces.model.Container" parameterType="ren.doob.common.Parameter">
        SELECT * FROM user_container
        <include refid="selectWhereSql" />
    </select>

    <insert id="addCon" parameterType="ren.doob.common.Parameter">
        INSERT INTO user_container (userid,containerid,containername
        <if test="accept.whetherData != null">
            ,whetherdatabase
        </if>
        ) VALUES (#{accept.userid},#{accept.id},#{accept.name}
        <if test="accept.whetherData != null">
            ,#{accept.whetherData}
        </if> )
    </insert>

    <delete id="deleteCon" parameterType="ren.doob.common.Parameter">
        DELETE FROM user_container
        <include refid="deleteWhereSql" />
    </delete>

    <sql id="selectWhereSql">
        <where>
            <if test="accept.userid != null">
                userid = #{accept.userid}
            </if>
            <if test="accept.whetherdatabase != null">
                AND whetherdatabase = #{accept.whetherdatabase }
            </if>
        </where>
    </sql>

    <sql id="deleteWhereSql">
        <where>
            <if test="accept.id != null">
                containerid = #{accept.id}
            </if>
            <if test="accept.name != null">
                AND containername = #{accept.name}
            </if>
        </where>
    </sql>

</mapper>